<div class="main">
    <div class="left">

        <div class="title">
            <h1><%= @article.title %></h1>
        </div>

        <div class="intro">
            <%= simple_format(@article.intro) %>
        </div>

        <div class="topic">
            <h2>この記事のコンテンツ</h2>
            <div class="topic-contents">
                <%= simple_format(@article.topic) %>
            </div>
        </div>

        <div class="content">
            <%= sanitize markdown(@article.text) %>
        </div>

    </div>

    <div class="right">
        <div class="article-topic">
            <h3>この記事の目次</h3>
        </div>

    	<div class="latest-contents">
    		<h3>最近の投稿</h3>
    	</div>
    </div>
</div>
