/* line 1, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight table td {
  padding: 5px;
}

/* line 2, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight table pre {
  margin: 0;
}

/* line 3, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .gh {
  color: #999999;
}

/* line 6, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .sr {
  color: #f6aa11;
}

/* line 9, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .go {
  color: #888888;
}

/* line 12, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .gp {
  color: #555555;
}

/* line 17, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .gu {
  color: #aaaaaa;
}

/* line 20, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .nb {
  color: #f6aa11;
}

/* line 23, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .cm {
  color: #75715e;
}

/* line 26, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .cp {
  color: #75715e;
}

/* line 29, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .c1 {
  color: #75715e;
}

/* line 32, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .cs {
  color: #75715e;
}

/* line 35, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .c, .highlight .cd {
  color: #75715e;
}

/* line 38, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .err {
  color: #960050;
}

/* line 41, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .gr {
  color: #960050;
}

/* line 44, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .gt {
  color: #960050;
}

/* line 47, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .gd {
  color: #49483e;
}

/* line 50, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .gi {
  color: #49483e;
}

/* line 53, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .ge {
  color: #49483e;
}

/* line 56, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .kc {
  color: #66d9ef;
}

/* line 59, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .kd {
  color: #66d9ef;
}

/* line 62, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .kr {
  color: #66d9ef;
}

/* line 65, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .no {
  color: #66d9ef;
}

/* line 68, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .kt {
  color: #66d9ef;
}

/* line 71, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .mf {
  color: #ae81ff;
}

/* line 74, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .mh {
  color: #ae81ff;
}

/* line 77, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .il {
  color: #ae81ff;
}

/* line 80, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .mi {
  color: #ae81ff;
}

/* line 83, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .mo {
  color: #ae81ff;
}

/* line 86, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .m, .highlight .mb, .highlight .mx {
  color: #ae81ff;
}

/* line 89, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .sc {
  color: #ae81ff;
}

/* line 92, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .se {
  color: #ae81ff;
}

/* line 95, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .ss {
  color: #ae81ff;
}

/* line 98, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .sd {
  color: #e6db74;
}

/* line 101, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .s2 {
  color: #e6db74;
}

/* line 104, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .sb {
  color: #e6db74;
}

/* line 107, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .sh {
  color: #e6db74;
}

/* line 110, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .si {
  color: #e6db74;
}

/* line 113, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .sx {
  color: #e6db74;
}

/* line 116, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .s1 {
  color: #e6db74;
}

/* line 119, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .s {
  color: #e6db74;
}

/* line 122, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .na {
  color: #a6e22e;
}

/* line 125, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .nc {
  color: #a6e22e;
}

/* line 128, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .nd {
  color: #a6e22e;
}

/* line 131, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .ne {
  color: #a6e22e;
}

/* line 134, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .nf {
  color: #a6e22e;
}

/* line 137, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .vc {
  color: #ffffff;
}

/* line 140, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .nn {
  color: #ffffff;
}

/* line 143, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .nl {
  color: #ffffff;
}

/* line 146, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .ni {
  color: #ffffff;
}

/* line 149, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .bp {
  color: #ffffff;
}

/* line 152, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .vg {
  color: #ffffff;
}

/* line 155, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .vi {
  color: #ffffff;
}

/* line 158, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .nv {
  color: #ffffff;
}

/* line 161, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .w {
  color: #ffffff;
}

/* line 164, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight {
  color: #ffffff;
}

/* line 167, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .n, .highlight .py, .highlight .nx {
  color: #ffffff;
}

/* line 170, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .ow {
  color: #f92672;
}

/* line 173, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .nt {
  color: #f92672;
}

/* line 176, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .k, .highlight .kv {
  color: #f92672;
}

/* line 179, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .kn {
  color: #f92672;
}

/* line 182, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .kp {
  color: #f92672;
}

/* line 185, /var/www/project/nunes/app/assets/stylesheets/rouge.css.erb */
.highlight .o {
  color: #f92672;
}

/* line 3, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body {
  margin: 0px;
  background-color: #e8e6e6;
}
/* line 7, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body header {
  margin-top: 0px;
  height: 80px;
  background-color: #f6f6f6;
}
/* line 11, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body header nav {
  margin-right: 100px;
  margin-left: 100px;
}
/* line 14, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body header nav .logo {
  text-align: center;
}
/* line 16, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body header nav .logo #logo {
  padding-top: 7px;
}
/* line 23, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main {
  margin-top: 45px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}
/* line 28, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left {
  background-color: #ffffff;
  width: 807px;
  padding: 20px;
  float: left;
}
/* line 33, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #title {
  width: 100%;
  height: 100px;
}
/* line 36, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #title h1 {
  font-size: 34px;
  padding-top: 7px;
  float: left;
  margin: 0px;
  width: 100%;
  text-align: center;
}
/* line 46, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #intro {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 2%;
}
/* line 50, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #intro p {
  font-size: 15px;
  padding: 10px;
}
/* line 55, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #intro strong {
  color: #0ba5a0;
}
/* line 60, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #topic {
  border: solid 1px #c0c0c0;
  background: #f4f4f4;
  margin-left: 25%;
  margin-right: 25%;
}
/* line 65, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #topic h2 {
  text-align: center;
  font-size: 20px;
}
/* line 70, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #topic li {
  padding-bottom: 5px;
}
/* line 74, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #topic #topic-contents {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  color: #00a7b7;
}
/* line 79, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #topic #topic-contents p {
  padding-left: 4%;
}
/* line 85, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content {
  padding-top: 40px;
  padding-left: 2%;
  padding-right: 2%;
}
/* line 89, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content h2 {
  font-size: 30px;
  padding-top: 20px;
  background-color: #f4f4f4;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-left: 5px solid #0fd4e8;
}
/* line 100, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #868484;
  font-size: 25px;
  padding-top: 11px;
  padding-bottom: 10px;
  height: 35px;
}
/* line 111, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content em {
  font-style: unset;
  color: #0085ff;
}
/* line 116, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content #filepath {
  font-family: "Menlo";
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 4%;
  margin-bottom: -18px;
}
/* line 122, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content #filepath span {
  font-size: 14px;
  color: #f4f4f4;
  background-color: #868585;
}
/* line 129, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content #highlight {
  background-color: #364549;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 5px;
}
/* line 135, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content #highlight pre {
  font-size: 16px;
}
/* line 137, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #content #highlight pre code {
  font-family: "Menlo";
}
/* line 145, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #article-area h2 {
  padding-top: 50px;
}
/* line 148, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #article-area p {
  color: #696161;
}
/* line 151, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #article-area a {
  text-decoration: none;
  color: #1693a2;
}
/* line 158, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #left #article-top h1 {
  text-align: center;
  font-size: 35px;
  color: #695555;
  margin-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: 2px solid #b1acac;
}
/* line 169, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right {
  width: 25%;
  float: right;
}
/* line 172, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #article-topic {
  background-color: #ffffff;
}
/* line 174, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #article-topic ul {
  padding-bottom: 20px;
}
/* line 178, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #article-topic li {
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 182, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #article-topic h3 {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 3px solid #c1baba;
}
/* line 191, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #news {
  background-color: #ffffff;
}
/* line 193, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #news h3 {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 3px solid #c1baba;
}
/* line 201, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #news #news-list {
  padding-left: 20px;
}
/* line 203, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #news #news-list span {
  font-size: 10px;
  padding-right: 5px;
}
/* line 209, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #latest-contents {
  background-color: #ffffff;
}
/* line 211, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #latest-contents h3 {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 3px solid #c1baba;
}
/* line 220, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #latest-contents ul {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
/* line 226, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #latest-contents li {
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 231, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #latest-contents a {
  text-decoration: none;
  color: #117ec6;
  font-size: 14px;
}
/* line 237, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact {
  background-color: #ffffff;
}
/* line 239, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact h3 {
  text-align: center;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 3px solid #c1baba;
}
/* line 246, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact #front-contact {
  margin-left: 40px;
  font-size: 3px;
}
/* line 249, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact #front-contact p {
  margin-top: 0px;
}
/* line 253, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact form {
  margin-left: 40px;
}
/* line 256, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact input {
  height: 15px;
  width: 80%;
  border: 2px solid #cacaca;
}
/* line 261, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact p {
  margin-bottom: 0px;
}
/* line 264, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact textarea {
  width: 80%;
  height: 150px;
  border: 2px solid #655b5b;
}
/* line 269, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact #contact-button {
  padding-bottom: 20px;
  margin-right: 40px;
  text-align: center;
  padding-top: 10px;
}
/* line 274, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body #main #right #contact #contact-button input {
  width: 40%;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px;
  border: 1px solid #ffffff;
}
/* line 287, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body footer {
  width: 100%;
  clear: both;
  height: 100px;
  background-color: #464c56;
  margin-top: 30px;
}
/* line 293, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body footer .footer-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 297, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
body footer .footer-area p {
  font-size: 13px;
  color: #ffffff;
}

/* line 305, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
li {
  list-style: none;
}

/* line 309, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
ul.log-nav {
  margin: 0px;
  float: right;
}

/* line 314, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
li.log-nav {
  float: left;
  list-style: none;
  font-size: large;
  padding-top: 12px;
  padding-left: 7px;
  padding-right: 7px;
}

/* line 323, /var/www/project/nunes/app/assets/stylesheets/application.css.scss */
.plaintext pre {
  background-color: #222425;
}
