@import "../rouge.css";

form {
    margin-left: 10%;
    width: 40%;
}

#article_title {
	width: 80%;
    height: 25px;
}

#article_intro {
    width: 80%;
    height: 50px;
}

textarea {
    width: 80%;
    height: 100px;
}

.submit {
    width: 30%;
}

.admin-left {
    position: absolute;
    top: 0;
    left: 45%;
}

#markdown {
    height: 450px;
}
