form {
    margin-left: 10%;
    width: 40%;
}

input {
	width: 80%;
    height: 25px;
}

textarea {
    width: 80%;
    height: 100px;
}

.submit {
    width: 30%;
}

.admin-left {
    position: absolute;
    top: 0;
    left: 45%;
}
