@import 'rouge';

#new-page {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 50px;
    #admin-right {
        width: 49%;
        float: left;
        border-right: 2px solid #f4f4f4;
        form {
            background-color: #ffffff;
            padding-left: 5%;
            padding-top: 20px;
            p {
                margin-top: 15px;
            }
            .title {
                width: 80%;
                height: 25px;
            }
            .small-input {
                width: 80%;
                height: 35px;
            }
            .middle-input {
                width: 80%;
                height: 50px;
            }
            .big-input {
                width: 80%;
                height: 450px;
            }
            .submit {
                padding-left: 30%;
                padding-bottom: 50px;
                padding-top: 20px;
                input {
                    width: 100px;
                    font-size: 50px;
                }
            }
        }
    }
    #admin-left {
        width: 49%;
        float: right;
    }
}

nav {
    width: 80%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    ul {
        margin-top: 0px;
        height: 80px;
        li {
            float: left;
            height: 80px;
            margin-top: 0px;
            padding-top: 20px;
            width: 16%;
            text-align: center;
        }
        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 23px;
        }
    }
}
#admin-main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    #not-display {
        padding-top: 30px;
        table {
            width: 100%;
            td {
                width: 50%;
                border: 1px solid #000000;
                text-align: center;
            }
            td.small-td {
                width: 25%;
            }
        }
    }
    #display {
        padding-top: 30px;
        table {
            width: 100%;
            td {
                width: 50%;
                border: 1px solid #000000;
                text-align: center;
            }
            td.small-td {
                width: 25%;
            }
        }
    }
}

ul {
    padding-left: 0px;
}
