@import 'rouge';

#new-page {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 50px;
    #admin-right {
        width: 49%;
        float: left;
        border-right: 2px solid #f4f4f4;
        form {
            background-color: #ffffff;
            padding-left: 5%;
            padding-top: 20px;
            p {
                margin-top: 15px;
            }
            .title {
                width: 80%;
                height: 25px;
            }
            .small-input {
                width: 80%;
                height: 35px;
            }
            .middle-input {
                width: 80%;
                height: 50px;
            }
            .big-input {
                width: 80%;
                height: 450px;
            }
            .submit {
                padding-left: 30%;
                padding-bottom: 50px;
                padding-top: 20px;
                input {
                    width: 100px;
                    font-size: 50px;
                }
            }
        }
    }
    #admin-left {
        width: 49%;
        float: right;
    }
}

nav {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.admin-main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    #not-display {
        padding-top: 30px;
    }
    #display {
        padding-top: 30px;
    }
}

