<% set_meta_tags title: @command.title, description: @command.point, og: { title: @command.title, type: 'command', image: image_url('icon.jpg') } %>
<div id="main">
    <div id="left">
        <div id="container">

            <div id="title">
                <h1><%= @command.title %></h1>
            </div>

            <div id="intro">
                <%= markdown(@command.intro) %>
            </div>

            <div id="content">
                <%= sanitize markdown(@command.text) %>
            </div>

        </div>
    </div>
</div>
