@import 'rouge';

body {
	margin: 0px;
	background-color: #e8e6e6;

	header {
	    margin-top: 0px;
	    height: 80px;
	    background-color: #f6f6f6;
	    nav {
	        margin-right: 100px;
	        margin-left: 100px;
	        .logo {
	            text-align: center;
	            #logo {
	                padding-top: 7px;
                }
            }
        }
    }

    .main {
    	margin-top: 45px;
        margin-left: 10%;
        margin-right: 10%;
        .left {
            background-color: #ffffff;
	        width: 807px;
	        padding: 20px;
	        float: left;
  	        .title {
				  width: 100%;
				  height: 100px;
  		        h1 {
	                font-size: 34px;
	                padding-top: 7px;
	                float: left;
					margin: 0px;
					width: 100%;
					text-align: center;
                }
            }

            .intro {
				margin-top: 40px;
				margin-bottom: 30px;
				margin-left: 2%;
	            p {
					font-size: 15px;
					padding: 10px;
				}

				strong {
					color: #0ba5a0;
				}
            }

            .topic {
				border: solid 1px #c0c0c0;
				background: #f4f4f4;
				margin-left: 25%;
				margin-right: 25%;
	            h2 {
					text-align: center;
					font-size: 20px;
				}

				li {
					padding-bottom: 5px;
				}

                .topic-contents {
	                margin-left: 5%;
	                margin-right: 5%;
					font-size: 20px;
					color: #00a7b7;
	                p {
	                    padding-left: 4%;
                    }
                }
            }

            .content {
	            padding-top: 40px;
	            padding-left: 2%;
	            padding-right: 2%;
	            h2 {
					font-size: 30px;
					padding-top: 20px;
					background-color: #f4f4f4;
					padding-left: 20px;
					padding-bottom: 20px;
					margin-top: 50px;
					margin-bottom: 50px;
					border-left: 5px solid #0fd4e8;
				}

				h3 {
					margin-top: 30px;
					margin-bottom: 30px;
					border-bottom: 1px solid #868484;
					font-size: 25px;
					padding-top: 11px;
					padding-bottom: 10px;
					height: 35px;

				}

				em {
					font-style: unset;
					color: #0085ff;
				}

                .filepath {
	                font-family: "Menlo";
	                margin-left: 5%;
	                margin-right: 5%;
	                padding-left: 4%;
	                margin-bottom: -18px;
	                span {
	                    font-size: 14px;
	                    color: #f4f4f4;
	                    background-color: #868585;
                    }
                }

                .highlight {
	                background-color: #364549;
	                margin-left: 5%;
	                margin-right: 5%;
	                padding-top: 10px;
	                padding-bottom: 5px;
	                pre {
	                    font-size: 16px;
	                    code {
	                        font-family: "Menlo";
                        }
                    }
                }

            }
        }
        .right {
	        width: 25%;
	        float: right;
	        .article-topic {
				background-color: #ffffff;
				ul {
					padding-bottom: 20px;
				}

				li {
					padding-top: 3px;
					padding-bottom: 3px;
				}
	        	h3 {
					text-align: center;
					margin-top: 0px;
					padding-top: 10px;
					margin-left: 40px;
					margin-right: 40px;
					border-bottom: 3px solid #c1baba;
                }
            }
            .latest-contents {
				background-color: #ffffff;
            	h3 {
					text-align: center;
					padding: 10px;
					margin-left: 30px;
					margin-right: 30px;
					border-bottom: 3px solid #c1baba;
                }

                ul {
	                padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 20px;
                }

                li {
	                padding-top: 3px;
	                padding-bottom: 3px;
				}

				a {
					text-decoration: none;
					color: #117ec6;
					font-size: 14px;
				}
            }
        }
    }
}

li {
	list-style: none;
}

ul.log-nav {
	margin: 0px;
	float: right;
}

li.log-nav {
	float: left;
	list-style: none;
	font-size: large;
	padding-top: 12px;
	padding-left: 7px;
    padding-right: 7px;
}

.plaintext pre {
	background-color: #222425;
}
