@import 'rouge';

$sm: 460px;
$mb: 750px;
$pc: 1440px;

@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin mb {
  @media (max-width: ($mb)) {
    @content;
  }
}
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

body {
	margin: 0px;
	background-color: #e8e6e6;

	header {
	    margin-top: 0px;
	    height: 80px;
	    background-color: #f6f6f6;
	    @include sm() {
	    	height: 60px;
	    }
	    nav {
	        margin-right: 100px;
	        margin-left: 100px;
	        @include sm() {
	        	margin-right: 50px;
	            margin-left: 50px;
	        }
	        .logo {
	            text-align: center;
	            img {
	            	width: 250px;
	            	@include sm() {
	            		width: 200px;
	            	}
	            }
	            #logo {
	                padding-top: 7px;
                }
            }
        }
    }

    #main {
    	margin-top: 45px;
        margin-left: 10%;
		margin-right: 10%;
		overflow: hidden;
		@include mb() {
			margin-left: 3%;
			margin-right: 3%;
		}
		@include pc() {
	    	margin-left: 5%;
	    	margin-right: 5%;
	    }
        #left {
            background-color: #ffffff;
	        width: 70%;
	        padding: 20px;
			float: left;
			@include mb() {
				width: 100%;
				float: unset;
				padding: 0px;
			}
			#container {
				@include mb() {
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					padding-top: 30px;
				}
  	            #title {
				      width: 100%;
				      height: 100px;
  		            h1 {
	                    font-size: 34px;
	                    padding-top: 7px;
	                    float: left;
					    margin: 0px;
					    width: 100%;
					    text-align: center;
					    @include sm() {
							font-size: 27px;
						}
                    }
                }

                #intro {
	    			margin-top: 40px;
	    			margin-bottom: 30px;
	    			margin-left: 2%;
	                p {
	    				font-size: 15px;
						padding: 10px;
						@include mb() {
							margin-top: 80px;
						}
	    			}

	    			strong {
	    				color: #0ba5a0;
	    			}
                }

                #topic {
	    			border: solid 1px #c0c0c0;
	    			background: #f4f4f4;
	    			margin-left: 25%;
					margin-right: 25%;
					@include mb() {
						margin-left: 10%;
						margin-right: 10%;
					}
	                h2 {
	    				text-align: center;
	    				font-size: 20px;
	    			}

	    			li {
	    				padding-bottom: 5px;
	    			}

                    #topic-contents {
	                    margin-left: 5%;
	                    margin-right: 5%;
	    				font-size: 20px;
	    				color: #00a7b7;
	                    p {
	                        padding-left: 4%;
                        }
                        ul {
                        	@include sm() {
							    padding-left: 15px;
						    }
                        }
                    }
                }

                #content {
	                padding-top: 40px;
	                padding-left: 2%;
	                padding-right: 2%;
	                h2 {
	    				font-size: 30px;
	    				padding-top: 20px;
	    				background-color: #f4f4f4;
	    				padding-left: 20px;
	    				padding-bottom: 20px;
	    				margin-top: 50px;
	    				margin-bottom: 50px;
	    				border-left: 5px solid #0fd4e8;
	    				@include sm() {
							font-size: 25px;
							padding-top: 5px;
							padding-bottom: 5px;
						}
	    			}

	    			h3 {
		    			margin-top: 30px;
		    			margin-bottom: 30px;
		    			border-bottom: 1px solid #868484;
		    			font-size: 25px;
		    			padding-top: 11px;
		    			padding-bottom: 10px;
		    			height: 35px;
		    			@include sm() {
							font-size: 18px;
						}
                        @include mb() {
							font-size: 23px;
							padding-bottom: 0px;
						}
		    		}

		    		em {
		    			font-style: unset;
		    			color: #0085ff;
		    		}

                    .filepath {
	                    font-family: "Menlo";
	                    margin-left: 5%;
	                    margin-right: 5%;
	                    padding-left: 4%;
	                    margin-bottom: -18px;
	                    span {
	                        font-size: 14px;
	                        color: #f4f4f4;
	                        background-color: #868585;
                        }
                    }

                    .highlight {
	                    background-color: #364549;
	                    margin-left: 5%;
	                    margin-right: 5%;
	                    padding-top: 10px;
	                    padding-bottom: 5px;
	                    pre {
	                        font-size: 16px;
	                        code {
	                            font-family: "Menlo";
                            }
                        }
                    }
		    	}

			    #article-area {
			    	h2 {
						padding-top: 50px;			
						@include mb() {
							font-size: 30px;
						}
						@include sm() {
							font-size: 20px;
						}
			    	}
			    	p {
			    		color: #696161;
			    		@include mb() {
			    			font-size: 20px;
			    		}
			    		@include sm() {
							font-size: 15px;
						}
			    	}
			    	a {
			    		text-decoration: none;
			    		color: #1693a2;
			    	}
			    }

			    #article-top {
			    	h1 {
			    		text-align: center;
			    		font-size: 35px;
			    		color: #695555;
			    		margin-top: 0px;
			    		margin-left: 20%;
			    		margin-right: 20%;
			    		border-bottom: 2px solid #b1acac;
			    		@include sm() {
			    			font-size: 27px;
			    		}
			    	}
			    }
		    }
        }
        #right {
	        width: 25%;
			float: right;
			@include mb() {
				float: unset;
				width: 100%;
			}
	        #article-topic {
				background-color: #ffffff;
				@include mb() {
					display: none;
				}
				ul {
					padding-bottom: 20px;
				}

				li {
					padding-top: 3px;
					padding-bottom: 3px;
				}
	        	h3 {
					text-align: center;
					margin-top: 0px;
					padding-top: 10px;
					margin-left: 40px;
					margin-right: 40px;
					border-bottom: 3px solid #c1baba;
                }
			}
			#news {
				background-color: #ffffff;
            	h3 {
					text-align: center;
					margin-top: 0px;
					padding-top: 10px;
					margin-left: 30px;
					margin-right: 30px;
					border-bottom: 3px solid #c1baba;
				}
				#news-list {
		            padding-left: 5px;
		            @include mb() {
		            	padding-left: 35px
		            }
					span {
						font-size: 10px;
						padding-right: 5px;
					}
				}
			}
            #latest-contents {
				background-color: #ffffff;
            	h3 {
					text-align: center;
					margin-top: 0px;
					padding-top: 10px;
					margin-left: 30px;
					margin-right: 30px;
					border-bottom: 3px solid #c1baba;
                }

                ul {
	                padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 20px;
					@include mb() {
						width: 85%;
						margin-left: auto;
						margin-right: auto;
					}
                }

                li {
	                padding-top: 3px;
					padding-bottom: 3px;
					@include mb() {
						padding-top: 7px;
						padding-bottom: 7px;
					}
				}

				a {
					text-decoration: none;
					color: #117ec6;
					font-size: 14px;
					@include mb() {
						font-size: 18px;
					}
				}
			}
			#contact {
				background-color: #ffffff;
				h3 {
					text-align: center;
					padding: 10px;
					margin-left: 30px;
					margin-right: 30px;
					border-bottom: 3px solid #c1baba;
				}
				#front-contact {
					margin-left: 40px;
					font-size: 3px;
					@include mb() {
						margin-left: 25%;
					}
					p {
						margin-top: 0px;
					}
				}
				form {
					margin-left: 40px;
					@include mb() {
						margin-left: 25%;
						margin-right: 25%;
					}
				}
				input {
					height: 15px;
					width: 80%;
					border: 2px solid #cacaca;
					@include mb() {
						width: 100%;
					}
				}
				p {
					margin-bottom: 0px;
				}
				textarea {
					width: 80%;
					height: 150px;
					border: 2px solid #655b5b;
					@include mb() {
						width: 100%;
					}
				}
				#contact-button {
					padding-bottom: 20px;
					margin-right: 40px;
					text-align: center;
					padding-top: 10px;
					@include mb() {
						margin-right: 0px;
					}
					input {
						width: 40%;
						height: 30px;
						font-size: 18px;
						border-radius: 5px;
						box-shadow: 0px 0px 5px;
						border: 1px solid #ffffff;
					}
				}
			}
        }
	}

	footer {
		width: 100%;
		clear: both;
		height: 100px;
		background-color: #464c56;
		margin-top: 30px;
		.footer-area {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		    p {
			    font-size: 13px;
			    color: #ffffff;
		    }
	    }
	}
}

li {
	list-style: none;
}

ul.log-nav {
	margin: 0px;
	float: right;
}

li.log-nav {
	float: left;
	list-style: none;
	font-size: large;
	padding-top: 12px;
	padding-left: 7px;
    padding-right: 7px;
}

.plaintext pre {
	background-color: #222425;
}
