@import 'rouge';

body {
	margin: 0px;
	background-color: #e8e6e6;
}

.title h1 {
	font-size: 27px;
}

.intro {
	margin-left: 2%;
	padding-top: 1px;
}

.intro p {
	font-size: 14px;
}

.topic {
	padding-top: 20px;
}
.topic h2 {
    text-align: center;
}

.topic-contents {
	margin-left: 25%;
	margin-right: 25%;
	font-size: 23px;
	border: solid 2px #c0c0c0;
	background: #f4f4f4;
}

.topic-contents p {
	padding-left: 4%;
}

.content {
	padding-top: 40px;
	padding-left: 2%;
	padding-right: 2%;
}

.content h2 {
	border-bottom: solid 3px #c0c0c0;
	padding-bottom: 5px;
}

header {
	margin-top: 0px;
	height: 80px;
	background-color: #f6f6f6;
}

nav {
	margin-right: 100px;
	margin-left: 100px;
}

h1.title {
	padding-top: 7px;
	float: left;
	margin: 0px;
}

ul.log-nav {
	margin: 0px;
	float: right;
}

li.log-nav {
	float: left;
	list-style: none;
	font-size: large;
	padding-top: 12px;
	padding-left: 7px;
    padding-right: 7px;
}

.main {
	margin-top: 45px;
    margin-left: 10%;
    margin-right: 10%;
}

.left {
    background-color: #ffffff;
	width: 807px;
	padding: 20px;
	float: left;
}

.right {
    background-color: #ffffff;
	width: 25%;
	float: right;
}

.highlight {
	background-color: #364549;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-bottom: 5px;
}

code {
	font-family: "Menlo";
}

.filepath {
	font-family: "Menlo";
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 4%;
	margin-bottom: -18px;
}

.filepath span {
	font-size: 14px;
	color: #f4f4f4;
	background-color: #868585;
}

.highlight pre {
	font-size: 16px;
}

.plainext pre {
	background-color: #222425;
}
