body {
	margin: 0px;
}

h1 {
	clear: both;
}

header {
	margin-top: 0px;
	height: 55px;
	background-color: #f4f4f4;
}

nav {
	margin-right: 100px;
	margin-left: 100px;
}

h1.title {
	padding-top: 7px;
	float: left;
	margin: 0px;
}

ul.log-nav {
	margin: 0px;
	float: right;
}

li.log-nav {
	float: left;
	list-style: none;
	font-size: large;
	padding-top: 12px;
	padding-left: 7px;
    padding-right: 7px;
}
