body {
	margin: 0px;
	background-color: #e8e6e6;
}

header {
	margin-top: 0px;
	height: 80px;
	background-color: #f6f6f6;
}

nav {
	margin-right: 100px;
	margin-left: 100px;
}

h1.title {
	padding-top: 7px;
	float: left;
	margin: 0px;
}

ul.log-nav {
	margin: 0px;
	float: right;
}

li.log-nav {
	float: left;
	list-style: none;
	font-size: large;
	padding-top: 12px;
	padding-left: 7px;
    padding-right: 7px;
}

.main {
	margin-top: 45px;
    margin-left: 10%;
    margin-right: 10%;
}

.left {
    background-color: #ffffff;
	width: 807px;
	padding: 20px;
	float: left;
}

.right {
    background-color: #ffffff;
	width: 25%;
	float: right;
}
