<!DOCTYPE html>
<html>
<head>
  <title>TECHDEEPER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
		    <div class="logo">
			    <img src="logo.png" id="logo" width="250">
			</div>
		</nav>
	</header>

<%= yield %>
	<footer>
	  <div class="footer-area">
	    <img src="logo.png" id="logo" width="200">
		  <p>Copyright © 2018. Created by TECHDEEPER</p>
		</div>
	</footer>
</body>
</html>
