<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= display_meta_tags(default_meta_tags) %>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<header>
		<nav>
		    <div class="logo">
			    <img src="logo.png" id="logo" width="250">
			</div>
		</nav>
	</header>

<%= yield %>
	<footer>
	  <div class="footer-area">
	    <img src="logo.png" id="logo" width="200">
		  <p>Copyright © 2018. Created by TECHDEEPER</p>
		</div>
	</footer>
</body>
</html>
